<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.tutorialspoint.onlineviewer"
        version   = "1.0">

    <name>First App</name>

    <description>
        Tutorials Point Online Viewer
    </description>

    <author href="http://tutorialspoint.com" email="contact@tutorialspoint.com">
        Tutorials Point
    </author>

    

</widget>
